<div class="foo">
  {{bar}}
  {{view './qux'}}
  <div class="bar">
    {{#if baz}}
      {{#view './baz'}}
        <span>Hello World</span>
        <div>
          {{#view './foobarbazqux'}}
            <span>Hello World</span>
          {{/view}}
        </div>
      {{/view}}
    {{/if}}
  </div>
</div>
